# See https://docs.docker.com/engine/reference/builder/#dockerignore-file for more about ignoring files.

.history
.byebug_history
examples.txt
coverage

# Ignore git directory.
/.git/
/.gitignore

# Ignore bundler config.
/.bundle

# Ignore all environment files (except templates).
/.env*
!/.env.template
!/.env.development.template
!/.env.test

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/.keep

# Ignore Docker-related files
/.dockerignore
/Dockerfile*

# Ignore sqlite
*.ipc
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal

# Ignore kamal
/.kamal/

config/deploy.yml
config/deploy.sample.yml